/*******************************************************************************/
/* BASE */

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;

}

html {
  overflow-x: hidden;
}


* {
  letter-spacing: initial;
  font-family: 'Roboto', sans-serif;
}

input::-ms-clear {
  display: none;
}

.pure-g > div {
  width: 100%:
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  letter-spacing: 0em;
}
a{
    color: white;
}
/*******************************************************************************/

/*******************************************************************************/
/* HEADER */

.l-header {
  background: #100a4d;

  display: flex;
  justify-content: center;
}

/*** NAV ***/
.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 80px;

  width: 1200px;

  background: #100a4d;

  position: relative;
}

@media screen and (max-width: 768px) {
  .nav-menu > .nav-menu__item {
    display: none;
  }
}

.nav-menu__burger {
  color: white;
  display: none;
}
@media screen and (max-width: 767px) {
  .nav-menu__burger {
    display: block;
    font-size: 15px;
    margin-right: auto;
    margin-left: 32px;
    align-self: center;
  }

  .nav-menu__search {
    align-self: center;
  }
}

.nav-menu a {
  color: white;

  margin-left: 20px;
  padding: 20px;

  font-size: 15px;
  font-weight: 100;
  text-align: center;
    text-decoration: none;
  cursor: pointer;
}
.hneu{
    height: 151px;
    width: 151px;
    background-size: cover;
}
.nav-menu a:hover {
    text-decoration: none;
        top: 27px;

}
.pure-u-1{
    width: 100%;
}

.nav-menu a:after {
    display: block;
    position: relative;
    content: "";
    height: 2px;
    width: 0%;
    background-image: linear-gradient(to right, #3554bb 0%, #82e5fe 100%);
    transition: width .3s ease-in-out;
    bottom: 0px;
    top: 27px;

}
.nav-menu a:hover:after,
.nav-menu a:focus:after {
    top: 27px;
    width: 100%;
}


.scrolalup{
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: .3s;
    width: 44px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    background: #0a054c;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    

}
.scrolalup:hover, .scrolalup:focus{
    transition: 500ms;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(to right, #3554bb 0%, #82e5fe 100%);
}

.nav-menu__search {
  color: white;

  padding: 20px;

  font-size: 15px;
  font-weight: 100;

  cursor: pointer;

  margin-right: 16px;
}

.nav-menu__item:first-child {
  margin-left: 0;
}
/*******************************************************************************/

/*******************************************************************************/
/** HEADLINE **/
.headline {
  min-height: 425px;

  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* padding: 30px; */
}

.headline > * {
  color: white;
}

.headline__main {
  font-weight: 300;
  line-height: 50px;
 
  /* font-size: 45px; */
  text-align: center;
}

.headline__sub {
  /* margin: 46px; */

  /* font-size: 26px; */
  line-height: 50px;
  font-weight: 100;

  text-align: center;
}
/*******************************************************************************/

/*******************************************************************************/
/*** NAV ***/
[data-balloon][data-balloon-pos="up"]:after{
    text-decoration: none;
}
[data-balloon][data-balloon-pos="up"] a:after{
    text-decoration: none;
}
[data-balloon]{
    text-decoration: none;
}

.copyright-holder {
  height: 56px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #1c1c1c;
  color: #fff;

  font-size: 16px;
}

/*** SUMMARY CARD ***/
.summary-card-holder {
  margin: 40px 20px;
  margin-top: 80px;;

  display: flex;
  justify-content: center;
}

.summary-card {
  max-width: 960px;
  background: #fafafa;

  padding: 28px;

  box-shadow: 0 8px 21px rgba(26, 26, 26, 0.09);

  /* display: flex; */
  /* flex-direction: column; */
}

.summary-card__image {
  width: 100%;
}

.summary-card__title {
  margin-top: 40px;

  text-align: center;

  font-size: 35px;
  font-weight: 500;
}

.summary-card__text {
  margin-top: 20px;
  font-size: 19px;
}

.fix-ie--button-wrap {
  width: 100%;

  display: flex;
  justify-content: center;
}
.summary-card__button {
  width: 300px;
  height: 60px;

  margin-top: 40px;

  /* margin: 40px auto 0 auto; */

  text-decoration: none;

  border: solid 2px transparent;
  border-radius: 30px;

  background-origin: border-box;
  background-clip: content-box, border-box;
  background-image:linear-gradient(to right, #3554bb 0%, #82e5fe 100%);
  color: white;

  outline: none !important;
  outline-style:none !important;
}

/*** INFO ***/
.info-card-holder {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.info-card-holder:last-child {
  margin-bottom: 55px;
}

@media screen and (max-width: 767px) {
  .info-card-holder {
    flex-wrap: wrap;
  }
}


.info-card {
  width: 560px;
  max-width: 560px;
  min-width: 300px;

  /* height: 440px; */

  flex-grow: 1;
  flex-shrink: 1;

  padding: 16px;

  margin: 20px 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0 25px 36px 4px rgba(62, 62, 62, 0.1);
}

.info-card__image {
  height: 300px;
}

.info-card__button {
  width: 300px;
  height: 60px;

  margin: 40px auto 0 auto;

  border: solid 2px transparent;
  border-radius: 30px;

  background-origin: border-box;
  background-clip: content-box, border-box;
  background-image:linear-gradient(to right, #3554bb 0%, #82e5fe 100%);
  color: white;

  outline: none !important;
  outline-style:none !important;
  
  text-decoration: none;
}

/*** BADGES ***/
.badges-list {
  /* padding: 0 60px; */ 
    width: 100%;
/*    padding: 50px 30px;*/
  background: #100a4d;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.badges-list__item {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 10px;
  color: white;
  width: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.badges-list__item > h3 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}
.badges-list__item > p {
  font-size: 12px;
  margin: 0;
}

.badges-list__item > .pure-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badges-list__item:first-child {
  margin-left: 0;
}

@media screen and (max-width: 1080px) {
  .badges-list {
    padding: 50px auto;
  }

  .badges-list__item.pure-img {
    /* display: none;   */
  }

  .badges-list__item {
    /* width: 274px; */
    margin-right: 20px;
  }

  .badges-list__item > .pure-img {
    height: 140px;
    width: 140px;
  }
}

/*******************************************************************************/
/** MENU **/
.menu-holder {
  position: absolute;
  top: 465px;
  right: 0;

  width: 100%;
}

.menu {
  display: flex;

  justify-content: flex-end;

  max-width: 1200px;
  margin: 0 auto;
}

.menu__item {
  border: none;
}

.menu__item > a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 641px) {
  .menu-holder {
    position: initial;
  }

  .menu {
    flex-direction: column;
    margin: 20px;
    margin-bottom: 0;
  }

  .menu > .menu__item {
    margin-bottom: 20px;
    width: 100%;
    height: 50px
  }

  .menu > *:last-child {
    margin-right: 0;
  }

  .menu > *:first-child {
    margin-left: 0 !important;
  }

  .summary-card-holder {
    margin-top: 20px;
  }

}


.menu__item {
    z-index: 4;
  width: 168px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-right: 28px;
  -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
  background: white;
  box-shadow: 0 25px 36px 4px rgba(37, 53, 173, 0.1);
}


.menu__item:last-child {
  margin-right: 32px;
}

.menu-mobile {
  position: absolute;
  left: 0;
  top: 80px;
  background: #100a4d;
  width: 100%;
  display: none;
}

.menu-mobile__item {
  padding: 16px;
  color: white;
}

.nav-menu__search-input {
  width: 100%;
  margin-left: 32px;
  margin-right: 16px;
    margin-top: 21px;
}

.nav-menu__search-input > input {
  width: 100%;
  background: #100a4d;
  border: none;
  border-bottom: 2px solid #1e87f0;
  color: white;

  outline: none;
  outline-style: none;
}

.nav-menu__search-input {
  display: none;
}

.nav-menu__search-cancel {
  cursor: pointer;
  display: none;
  color: white;
  margin-left: 16px;
  margin-right: 32px;
}

.scrollup {
  bottom: 60px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  padding: 10px;
  position: fixed;
  right: 15px;
  text-align: center;
  z-index: 9;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  background: #0a054c;
  height: 30px;
  width: 30px;
  box-shadow: 0px 0px 6px #fff;
  border-radius: 5px;
 
}

.scrollup:hover {
  color:#fff;
  background-image: linear-gradient(to right, #3554bb 0%, #82e5fe 100%);
}

/*** MAIN CONTENT ***/
.main-wrapper {
  margin-top: 80px;

  max-width: 1200px;
  width: 1200px;
  
  margin: 80px auto 0 auto;
}

.right-content {
  box-sizing: border-box;
  /* max-width: 400px; */

  margin: 0 20px;

  background: red;
}

.main-content {
  width: 100%;
}

.lecturers-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 20px;
}
.lecturer-card img{
    background-size: cover;
    width: auto;
    max-width: 100%;
}
.lecturer-card {

  box-sizing: border-box;
  width: auto;
  max-width: 30%;

  padding: 20px;
  margin: 0 0px 20px 0px;

  box-shadow: 0 8px 21px rgba(26, 26, 26, 0.09);
}

.lecturer-card__name {
  font-size: 24px;
}

.lecturer-card__avatar > img {
  width: 100%;
  height: auto;
}

.lecturer-card__text {
  margin-top: 20px;
}

.lecturer-card__button {
  width: 49%;
  height: 50px;

  margin: 20px auto 0 auto;

  border: solid 2px transparent;
  border-radius: 30px;

  background-origin: border-box;
  background-clip: content-box, border-box;
  background-image:linear-gradient(to right, #3554bb 0%, #82e5fe 100%);
  color: white;

  outline: none !important;
  outline-style:none !important;
  
  text-decoration: none;

  bottom: 0px;
}

@media screen and (max-width: 1166px) {
  .lecturer-card {
    max-width: 50%;
  }
        .badges-list__item{
        width: 100%;
    }
    .pure-u-1{
        width: 100%:
    }
    .badges-list{
    width: 100%;
    }
    .copyright-holder{
        width: 100%;
    }
    
}

@media screen and (max-width: 641px) {
  .lecturer-card {

    max-width: 100%;
  }

  .main-wrapper {
    margin-top: 0px;
  }
        .badges-list__item{
        
    }
}


.fix-small-image {
  height: 31px;
  justify-self: center;
  align-self: center;
}



@media screen and (max-width: 1090px) {
  .hide_useless_image {
    display: none;
  }
}